[submodule "additionalstatus"]
	path = additionalstatus
	url = https://github.com/shift02/AdditionalStatus
[submodule "lib/mceconomy3"]
	path = lib/mceconomy3
	url = https://github.com/shift02/MCEconomy3
