[submodule "lib/mceconomy3"]
	path = lib/mceconomy3
	url = https://github.com/shift02/MCEconomy3
[submodule "lib/additionalstatus"]
	path = lib/additionalstatus
	url = https://github.com/shift02/AdditionalStatus
