[submodule "lib/additionalstatus"]
	path = lib/additionalstatus
	url = https://github.com/shift02/AdditionalStatus
[submodule "additionalstatus"]
	path = additionalstatus
	url = https://github.com/shift02/AdditionalStatus
